<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- 配置扫描的包 -->
    <context:component-scan base-package="com.hand.infra.mapper"/>
    <!-- 设置扫描的包，类似@MapperScan -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.hand.infra.mapper"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="#{systemEnvironment['DRIVERCLASSNAME']}" />
        <property name="url" value="#{systemEnvironment['URL']}" />
        <property name="username" value="#{systemEnvironment['USERNAME']}"/>
        <property name="password" value="#{systemEnvironment['PASSWORD']}"/>
    </bean>
    <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<property name="driverClassName" value="com.mysql.jdbc.Driver" />-->
        <!--<property name="url" value="jdbc:mysql://192.168.99.100:3406/sakila?characterEncoding=utf8&amp;useSSL=false" />-->
        <!--<property name="username" value="root"/>-->
        <!--<property name="password" value="root"/>-->
    <!--</bean>-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:com.hand.infra.mapper/IFilm*.xml"/><!-- 需要使用xml配置SQL时使用 -->
        <property name="typeAliasesPackage" value="domain.entity"/><!-- 设置实体类 -->
    </bean>

    <!-- JDBC事务管理 -->
    <bean id="jdbcdataSourceTransactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 事务相关控制配置：例如配置事务的传播机制 -->
    <tx:advice id="iccardTxAdvice" transaction-manager="jdbcdataSourceTransactionManager">
        <tx:attributes>
            <tx:method name="delete*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" no-rollback-for="java.lang.RuntimeException"/>
            <tx:method name="insert*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" />
            <tx:method name="add*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.RuntimeException" />
            <tx:method name="create*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.RuntimeException" />
            <tx:method name="update*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" />

            <tx:method name="find*" propagation="SUPPORTS" />
            <tx:method name="get*" propagation="SUPPORTS" />
            <tx:method name="select*" propagation="SUPPORTS" />
            <tx:method name="query*" propagation="SUPPORTS" />
        </tx:attributes>
    </tx:advice>

    <!-- 把事务控制在service层 -->
    <aop:config>
        <aop:pointcut id="iccardTerm" expression="execution(public * com.hand.api.service.*.*(..))" />
        <aop:advisor pointcut-ref="iccardTerm" advice-ref="iccardTxAdvice" />
    </aop:config>
</beans>